# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* Commonly used libraries used by Data Scientists
* Data Science Tools
* Examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. Java
4. Scala
5. C++
6. Julia

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. SciPy
3. Pandas
4. NumPy
5. Keras

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|RStudio|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
#  This will convert 200 minutes to hours by diving by 60
x=200//60
y=200%60
print(x,"hours",y,"min")

3 hours 20 min

## Author
Hanna Slavinska